/*------------------------------------------------
# Header
------------------------------------------------*/
/*------------------------------------------------
## Top Bar
------------------------------------------------*/
header.top-bar {
	background: var(--bg-gradient-img);
	color: var(--color-yellow);
	padding: 1rem 4rem;
	text-align: center;
	z-index: 2;
	position: fixed;
	top: 0;
	width: 100%;
	height: 36px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header.top-bar p {
	line-height: 36px;
	margin-bottom: 0;
}

header.top-bar a {
	color: var(--color-white);
}

@media screen and (max-width: 54rem) {
	.center {
		display: none;
	}
}

/*------------------------------------------------
## Hero
------------------------------------------------*/
.hero {
	height: 100vh;
	perspective: 400px;
	transform: skewY(7deg) translateY(-15vh);
	overflow: hidden;
}

.hero:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: url(https://cdn.pixabay.com/photo/2015/07/11/23/02/plane-841441_960_720.jpg);
	background-position: center;
	background-size: cover;
	transform: skewY(-7deg) translateY(15vh);
}

.hero-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: skewY(-7deg) translate(-50%, -50%);
	z-index: 2;
	text-align: center;
	text-shadow: var(--text-shadow);
	width: 80%;
	transition: all 0.3s var(--ease-bounce);
	transform-style: preserve-3d;
}

.hero-content:hover {
	cursor: pointer;
	transform: scale(1.1) translate(-35%, -35%) skewY(-7deg) rotateY(15deg) rotateX(-10deg);
}

.hero-content:hover .site-under-title {
	transform: rotateY(-30deg) rotateZ(-5deg) translate(-20%, 0) scale(1.1);
}

.⚡️ {
	width: 3.6rem;
}

.hero-content span {
	display: inline-block;
}

.hero-content:hover span {
	animation-name: wiggle;
	animation-duration: 0.3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.hero-content:hover span:nth-child(even) {
	animation-delay: 0.15s;
}

@keyframes wiggle {
	0% {
		transform: translate(0,0) rotate(-5deg);
		text-shadow: 10px 10px 3px rgba(0,0,0,0.1);
	}
	50% {
		transform: translate(0,10px) rotate(5deg) scale(1.1);
		text-shadow: -10px -10px 3px rgba(0,0,0,0.1);
	}
	100% {
		transform: translate(0,0) rotate(-5deg);
		text-shadow: 10px 10px 3px rgba(0,0,0,0.1);
	}
}

.hero a {
	color: var(--color-purple);
}

.hero a:visited,
.hero a:hover,
.hero a:focus,
.hero a:active {
	color: var(--color-purple-dk);
}

.site-subtitle {
	padding: 3rem 0;
	margin: 1rem auto 3rem;
	width: 80%;
}

.site-subtitle:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 2px;
	background: var(--color-white);
	box-shadow: var(--text-shadow);
}

.site-subtitle:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 2px;
	background: var(--color-white);
	box-shadow: var(--text-shadow);
}