/*
Repo Name: Eduonix Advanced CSS Course
Repo URI: https://github.com/jekkilekki/edx-advanced-css
Author: Aaron Snowberger
Author URI: https://aaron.kr
Description: A sample website built utilizing the principles learned in the Advanced CSS Course.
Version: 1.0.1
License: GNU General Public License v3 or later
License URI: https://www.gnu.org/licenses/gpl-3.0.en.html
*/
/*--------------------------------------------------------------
>>> SPECIFIC SITE COMPONENTS:
----------------------------------------------------------------
#0 CSS Review                       --------------
  # :pseduo-selectors                 <<< OK >>> :root, :before, :after, :hover, :visited, :nth-child(even), :checked, 
  # Responsive design                 <<< OK >>>
  # CSS variables                     <<< OK >>>
#1 Typography                       --------------
  # Locally hosted font               <<< OK >>>
  # Variable font                     <<< OK >>>
  # Text clipping                     <<< OK >>>
  # Text transforms                   <<< OK >>>
  # Responsive text                   <<< OK >>>
#2 Content                          --------------
  # Pure CSS Accordion (tabs)         <<< OK >>>
  # Advanced List styles              <<< OK >>>
  # Off canvas navigation (checkbox)  <<< OK >>>
#3 Graphics                         --------------
  # Backgrounds & gradients           <<< OK >>>
  # CSS border images                 <<< OK >>>
  # CSS image filters                 <<< OK >>>
  # Responsive images                 <<< OK >>>
#4 Layout                           --------------
  # CSS Flexbox                       <<< OK >>>
  # CSS Grid                          <<< OK >>>
#5 Motion                           --------------
  # 2D transforms                     <<< OK >>>
  # 3D transforms (on hover)          <<< OK >>>
  # Animations (on hover)             <<< OK >>>
--------------------------------------------------------------*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Document Base Styles
  # CSS Reset
  # CSS Variables (root)
  # Accessibility
  # Layout
  # Typography
  # Elements
  # Links
# Content navigation
  # Social navigation
# Header
	# Top Bar
	# Hero
# Site Content
  # About
  # Course Sections
# Footer
--------------------------------------------------------------*/
